body {
    line-height: 1.8;
    background-color: #EFEFEF;

    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: justify;
}

h2 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.5vh;
}

img {
    width: 70%;
    display: block;
    margin: auto;
}

figcaption {
    text-align: center;
    opacity: 70%;
    font-size: 70%;
}