body {
    font-size: 24px;
    font-family: Georgia;
    line-height: 1.8em;
    background-color: #EFEFEF;

    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: justify;
}

p, li {
    font-size: 1em;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.3em;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.5vh;
}

img {
    max-width: 50ch;
    width: 70%;
    display: block;
    margin: auto;
}

figcaption {
    text-align: center;
    opacity: 70%;
    font-size: 70%;
}
